.button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--spacing-2);
}

.button:not(:disabled) {
  cursor: pointer;
}

/* Press effect - display a shadow when the button isn't being pressed */
.button:not(:active),
.button:disabled {
  box-shadow: var(--shadow-sm);
}


/* Sizes */

.button {
  /* Default size: small */
  padding-top: var(--spacing-1_5);
  padding-bottom: var(--spacing-1_5);
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  border-radius: var(--radius-md);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.button[data-icon-only="true"] {
  width: var(--size-8);
  height: var(--size-8);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

.button[data-size="medium"] {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  border-radius: var(--radius-md);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
}

.button[data-icon-only="true"][data-size="medium"] {
  width: var(--size-10);
  height: var(--size-10);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

.button[data-size="large"] {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
  border-radius: var(--radius-md);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.button[data-icon-only="true"][data-size="large"] {
  width: var(--size-12);
  height: var(--size-12);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

/* Variants */

/* Default Variant: secondary */
.button {
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border-secondary);
  color: var(--color-text-secondary);
}

.button:hover:not(:disabled) {
  background-color: var(--color-bg-tertiary);
}

.button:active {
  background-color: var(--color-bg-quaternary);
}

.button[data-variant="primary"] {
  background-color: var(--color-bg-brand);
  color: var(--color-text-inverted);
  border: none;
}

.button[data-variant="primary"]:hover:not(:disabled) {
  background-color: var(--color-bg-brand-hover);
}

.button[data-variant="destructive"] {
  background-color: var(--color-text-error);
  color: var(--color-text-inverted);
  border: none;
}

.button[data-variant="destructive"]:hover:not(:disabled) {
  background-color: var(--color-bg-error-hover);
}

.button[data-variant="tertiary"] {
  background-color: var(--color-transparent);
  color: var(--color-text-secondary);
  border: none;
  box-shadow: var(--shadow-none);
}

.button[data-variant="tertiary"]:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.0625);
}

.button:disabled {
  background-color: var(--color-bg-disabled);
  border-color: var(--color-border-disabled);
  color: var(--color-text-disabled);
}

.button[data-variant="tertiary"]:disabled {
  background-color: var(--color-transparent);
  border: none;
  color: var(--color-text-disabled);
}

/* Notification Dot */

.buttonNotificationDot {
  position: absolute;
  --dot-width: 1.525rem;
  top: calc(-1 * var(--dot-width) / 2);
  right: calc(-1 * var(--dot-width) / 2);
  width: var(--dot-width);
  height: var(--dot-width);

  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text-error);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-inverted);
  padding-bottom: 0.0825rem;
}