.toast {
  background-color: rgba(12, 10, 9, 0.75); /* stone-950 with 75% opacity */
  box-shadow: var(--shadow-xl);
  border-radius: var(--radius-lg);
  display: flex;
  align-items: center;
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-2);
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  gap: var(--spacing-8);
}

/* .toast[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toast[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.toast[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.toast[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.toast[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
} */
/* 
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

/* @keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
} */

.toastViewport {
  z-index: 2147483647;
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: var(--spacing-16);
  padding-right: var(--spacing-16);
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-16);
  gap: var(--spacing-8);
  list-style: none;
  outline: none;
}

.toastTitle {
  color: var(--color-stone-50);
  font-size: var(--text-xl);
}

.toastDescription {
  color: var(--color-stone-100);
  font-size: var(--text-xl);
}

.toastAction {
}
