.toast {
  background-color: var(--color-bg-primary);
  box-shadow: var(--shadow-lg);
  border-radius: var(--radius-lg);
  display: flex;
  align-items: center;
  padding: var(--spacing-4);
  gap: var(--spacing-4);
  border: 1px solid var(--color-border-primary);
}

.toastContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  flex-grow: 1;
}

.toast[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.toast[data-state="closed"] {
  animation: hide 100ms ease-in;
}

.toast[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}

.toast[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}

.toast[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.toastViewport {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-6);
  gap: var(--spacing-2);
  width: 390px;
  max-width: 100vw;
  margin: 0;
  z-index: 999;
  outline: none;
  --viewport-padding: var(--spacing-6);
}

.toastTitle {
  color: var(--color-text-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.toastDescription {
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
}