.menuButtonContent {
  background-color: var(--color-bg-primary);
  border-radius: var(--radius-md);
  padding: var(--spacing-1_5);
  border: 1px solid var(--color-border-primary);
  box-shadow: var(--shadow-lg);
  min-width: 10rem;
}

.menuButtonItem {
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  padding-left: var(--spacing-2_5);
  padding-right: var(--spacing-2_5);
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  border-radius: var(--radius-md);
  line-height: var(--leading-none);
  height: 25px;
  position: relative;
  user-select: none;
  outline: none;
}

.menuButtonItem[data-disabled] {
  color: var(--color-text-disabled);
  pointer-events: none;
}

.menuButtonItem:hover:not([data-disabled]) {
  background-color: var(--color-bg-tertiary);
  cursor: pointer;
}

.menuButtonItem.focus-visible,
.menuButtonItem:focus-visible {
  background-color: var(--color-bg-tertiary);
}

.menuButtonArrow {
  fill: var(--color-bg-primary);
}