.checkboxRow {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.checkboxRoot {
  width: var(--size-6);
  height: var(--size-6);
  padding: 0;
  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-primary);
}

.checkboxIndicator {
  background-color: var(--color-bg-brand);
  border-radius: var(--radius-sm);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxCheckmarkIcon {
  width: var(--size-4);
  height: var(--size-4);
  color: var(--color-text-inverted);
}

.checkboxLabel {
  font-size: var(--font-size-base);
  color: var(--color-text-primary);
}