.dialogOverlay {
  background-color: var(--color-stone-950);
  position: fixed;
  inset: 0;
  z-index: 40;
  opacity: 0.8;
  animation: overlayShow 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-lg);
  background-color: rgba(41, 37, 36, 0.95); /* stone-800 with 95% opacity */
  color: var(--color-stone-50);
  z-index: 50;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-8);
  gap: var(--spacing-8);
  animation: contentShow 200ms cubic-bezier(0.16, 1, 0.3, 1);

  transform: translate(-50%, -50%);
  width: 90vw;

  max-width: 450px;
}

.dialogContent[data-size="sm"] {
  max-width: 450px;
}

.dialogContent[data-size="md"] {
  max-width: 600px;
}

.dialogContent[data-size="lg"] {
  max-width: 800px;
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.dialogCloseButton {
  position: absolute;
  top: var(--spacing-4);
  right: var(--spacing-4);
  color: var(--color-stone-50);
}

.dialogTitle {
  margin: 0;
  font-weight: var(--font-semibold);
  font-size: var(--text-xl);
  color: var(--color-stone-50);
}

.dialogDescription {
  margin: 0;
  font-weight: var(--font-normal);
  font-size: var(--text-sm);
  color: var(--color-stone-50);
}
