:root {
  /* Border radius scale */

  /* 2px */
  --radius-xs: 0.125rem;

  /* 4px */
  --radius-sm: 0.25rem;

  /* 8px */
  --radius-md: 0.5rem;

  /* 12px */
  --radius-lg: 0.75rem;

  /* 16px */
  --radius-xl: 1rem;

  --radius-full: 9999px;
}